@{
    ViewBag.Title = "Debrief";
}

<div id="mainAbout">
    <div id="ajax">
         <ul>
                <li class="wholink active" data-url="@Url.Action("Who", "About")">Who</li>
                <li class="whatlink" data-url="@Url.Action("What", "About")">What</li>
                <li class="whylink" data-url="@Url.Action("Why", "About")">Why</li>
                <li class="howlink" data-url="@Url.Action("How", "About")">How</li>
                <li class="wherelink" data-url="@Url.Action("Where", "About")">Where</li>
            </ul>
    </div>
    <div class="mainAbout">
        @Html.Partial("Who")  
        
    </div>
</div>